.contPagination {
  display: flex;
  justify-content: center;
  gap: 11px;
}

.left,
.right {
  display: flex;
  gap: 6px;
}

.contDoubleLeft,
.contLeft,
.contDoubRight,
/* .contLeft, */
/* .theFirstElem, */
/* .theSecondtElem, */
/* .ellipsis, */
.pageItem {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(38, 38, 38, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pageItem.active {
  background-color: #f6b83d;
  border: none;
  color: #fff;
}

.pageItem.active:hover {
  border: none;
}

/* .freeze, */
.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
  /* border: 1px solid rgba(38, 38, 38, 0.02); */
}

.contDoubleLeft:hover,
.contLeft:hover,
.contDoubRight:hover,
.contLeft:hover,
/* .theFirstElem:hover, */
/* .theSecondtElem:hover, */
/* .ellipsis:hover, */
.pageItem:hover {
  border: 1px solid rgba(38, 38, 38, 0.5);
}

.leftSvg1 {
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}

.leftSvg2 {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
}

.leftSvg,
.rightSvg {
  width: 20px;
  height: 20px;
}

.center {
  display: flex;
  gap: 10px;
}

.theThirdElem {
  display: none;
}

.rightSvg1 {
  position: absolute;
  left: 6px;
  width: 20px;
  height: 20px;
}

.rightSvg2 {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
}