.contModalAttention {
  position: relative;
  border-radius: 30px;
  width: 335px;
  background: #fff;
  padding: 40px 20px;
}

.closeButton {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.backgrImeg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff4df;
  margin-bottom: 20px;
}

.imageDog {
  display: block;
  width: 44px;
  height: 44px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 24px;
}

.conButtons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btnLogIn,
.btnRegister {
  border-radius: 30px;
  border: none;
  width: 129px;
  height: 42px;
  background: #fff4df;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #f6b83d;
  cursor: pointer;
}

.btnLogIn:hover,
.btnRegister:hover {
  color: #fff;
  background: #f6b83d;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contModalAttention {
    width: 466px;
    padding: 60px;
  }

  .title {
    font-size: 24px;
    line-height: 117%;
  }

  .text {
    margin-bottom: 28px;
  }

  .btnLogIn,
  .btnRegister {
    width: 140px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
}
