.contFriend {
  position: relative;
  display: flex;
  gap: 14px;
  align-items: center;
  padding: 40px 0 40px 20px;
  border-radius: 15px;
  width: 335px;
  /* height: 184px; */
  background: #fff;
}

.workDays {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 30px;
  padding: 8px;
  width: 90px;
  height: 32px;
  background: #fff4df;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: #f6b83d;
}

.logoFriend {
  /* display: block; */
  width: 80px;
  height: 80px;
  text-align: center;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.04em;
  margin-bottom: 14px;
}

.menuEmail,
.menuAddressItem,
.menuPhone {
  display: flex;
  gap: 2px;
  font-style: normal;
  margin-bottom: 8px;
}

.menuPhone {
  margin-bottom: 0;
}

.menuText,
.linkText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #262626;
}

.menuText {
  color: rgba(38, 38, 38, 0.5);
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contFriend {
    gap: 16px;
    width: 342px;
    height: 196px;
  }

  .workDays {
    width: 100px;
    /* height: 34px; */
    padding-right: 0;
    font-size: 14px;
    line-height: 129%;
  }

  .logoFriend {
    width: 90px;
    height: 90px;
  }

  .title {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
  .contFriend {
    gap: 20px;
    width: 371px;
    height: 196px;
  }
}
