.contNewItem {
  width: 335px;
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newImg {
  border-radius: 15px;
  width: 335px;
  height: 190px;
  margin-bottom: 20px;
}

.titleNew {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.03em;
  margin-bottom: 12px;

  white-space: pre-line;
}


.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  /* margin-bottom: 19px; */
}

.contDateRead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.date {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.btnLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6b83d;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contNewItem {
    width: 340px;
    height: 476px;
  }

  .newImg {
    width: 340px;
    height: 226px;
    margin-bottom: 28px;
  }

  .titleNew {
    font-size: 20px;
    line-height: 130%;
    margin-bottom: 14px;
  }

  .text {
    font-size: 16px;
    line-height: 125%;
    /* margin-bottom: 28px; */
  }

  .contDateRead {
    padding-bottom: 28px;
  }

  .date {
    font-size: 16px;
    line-height: 125%;
  }

  .btnLink {
    font-size: 16px;
    line-height: 125%;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
  .contNewItem {
    width: 361px;
  }

  .newImg {
    width: 361px;
    height: 226px;
    margin-bottom: 28px;
  }
}