.contFriends {
  width: 375px;
  padding: 50px 20px 80px;
  margin: 0 auto;
}

.titleFriends {
  margin-bottom: 40px;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contFriends {
    width: 768px;
    padding: 85px 32px 80px;
  }

  .titleFriends {
    font-size: 54px;
    line-height: 1;
    margin-bottom: 44px;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
  .contFriends {
    width: 1280px;
    padding: 96px 63px 80px 64px;
  }

  .titleFriends {
    margin-bottom: 60px;
  }
}