.contProfile {
  border-radius: 30px;
  width: 335px;
  padding: 18px 20px 40px;
  background: #fff;
  margin-bottom: 40px;
}

.contUserUdateBtns {
  display: flex;
  justify-content: space-between;
}

.btnUser {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 14px;
  width: 80px;
  height: 38px;
  border: none;
  background: #fff4df;
  color: #f6b83d;
  cursor: pointer;
}

.btnUser:hover {
  color: #fff;
  background: #f6b83d;
}

.spanBtnUser {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
}

.userSvg,
.editSvg,
.addPlusSvg {
  display: block;
  width: 18px;
  height: 18px;
}

.btnUpdateUser {
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background: #fff4df;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnUpdateUser:hover {
  background: #fbe7c1;
}

.contPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.uploadedPhoto {
  margin: 20px 0 30px;
}

.btnUploadPhoto {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  border: none;
  background: inherit;
  cursor: pointer;
}

.notVisible {
  display: none;
}

.contMyInf {
  margin-bottom: 40px;
}

.titleInf {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.contNameEmail {
  margin-bottom: 10px;
}

.userName,
.userEmail,
.userNumber {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px;
  width: 295px;
  height: 42px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
}

.userEmail {
  margin-bottom: 0;
}

.userNumber {
  border: 1px solid rgba(38, 38, 38, 0.15);
  margin-bottom: 0;
}

/* ==========================PetsBlock========================= */

/* .petsBlock {
  margin-bottom: 20px;
} */

.contTitleAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.titleMyPets {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.btnAddPets {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 16px;
  width: 103px;
  height: 38px;
  background: #f6b83d;
  border: none;
  cursor: pointer;
}

.addBtnText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contProfile {
    border-radius: 60px;
    width: 704px;
    padding: 40px;
    margin-bottom: 32px;
    position: relative;
  }

  .contUserUdateBtns {
    margin-bottom: 118px;
  }

  .mgBottom {
    margin-bottom: 100px;
  }

  .contPhoto {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  .uploadedPhoto {
    margin: 0;
  }

  .btnUploadPhoto {
    font-size: 14px;
    line-height: 1.28571;

  }

  .titleInf {
    font-size: 18px;
    line-height: 1.33333;
  }

  .contNameEmail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .userName,
  .userEmail,
  .userNumber {
    padding: 16px;
    width: 305px;
    height: 52px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.25;
  }

  .titleMyPets {
    font-size: 18px;
    line-height: 1.33333;
  }

  .btnAddPets {
    padding: 10px 20px;
    width: 118px;
    height: 40px;
  }

  .addBtnText {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
  .contProfile {
    width: 520px;
    margin-bottom: auto;
  }

  .contNameEmail {
    flex-direction: column;
    gap: 14px;
  }

  .userName,
  .userEmail,
  .userNumber {
    width: 440px;
  }
}