.contProfile {
  border-radius: 30px;
  width: 335px;
  /* height: 864px; */
  padding: 18px 20px 40px;
  background: #fff;
  margin: 0 auto;
}

.contUserUdateBtns {
  display: flex;
  justify-content: space-between;
}

.btnUser {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 14px;
  width: 80px;
  height: 38px;
  border: none;
  background: #f6b83d;
  /* cursor: pointer; */
}

.spanBtnUser {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.userSvg,
.editSvg,
.addPlusSvg {
  display: block;
  width: 18px;
  height: 18px;
}

.btnUpdateUser {
  border-radius: 30px;
  padding: 10px;
  width: 38px;
  height: 38px;
  background: #fff4df;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnUpdateUser:hover {
  background: #fbe7c1;
}

/* .editSvg {
  display: block;
  width: 18px;
  height: 18px;
} */

.contPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.avatarImage {
  border-radius: 50%;
  /* padding: 10px; */
  width: 94px;
  height: 94px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 8px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  width: 94px;
  height: 94px;
  background: #fff4df;
  margin-bottom: 8px;
}

.userSvgPhoto {
  display: block;
  width: 40px;
  height: 40px;
}

/* .text {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
} */

.btnUploadPhoto {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  border: none;
  background: inherit;
  cursor: pointer;
}

.contMyInf {
  margin-bottom: 40px;
}

.titleInf {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
  margin-bottom: 20px;
}

.userName,
.userEmail,
.userNumber {
  border: 1px solid #f6b83d;
  border-radius: 30px;
  padding: 12px 0 12px 12px;
  width: 295px;
  height: 42px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
}

.userNumber {
  border: 1px solid rgba(38, 38, 38, 0.15);
  margin-bottom: 0;
}

/* ==========================PetsBlock========================= */

.petsBlock {
}

.contTitleAndBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleMePets {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.btnAddPets {
  display: flex;
  gap: 4px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 16px;
  width: 103px;
  height: 38px;
  background: #f6b83d;
  border: none;
  cursor: pointer;
}

.addBtnTexy {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;
}
