.contHome {
  width: 375px;
  padding: 10px 20px;
  margin: 0 auto;
}

.homeDescription {
  width: 335px;
  /* height: 390px; */
  padding: 118px 20px 50px;
  background: #f6b83d;
  border-radius: 30px;
}

.titleHome {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.titleSpan {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.imgHome {
  border-radius: 30px;
  width: 335px;
  height: 402px;
  background: url('../../../public/images/imagesHome/image-home-mob-1x.jpg');
}