.contHome {
  padding: 10px 20px;
}

.homeDescription {
  width: 335px;
  height: 390px;
  padding: 18px 20px 50px;
  background: #f6b83d;
  border-radius: 30px;
}

.contHeader {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 60px;
}

.contLogo {
  display: flex;
  align-items: end;
  width: 76px;
  cursor: pointer;
  margin-right: 135px;
}

.logoText {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #fff;
}

.logoSvg {
  display: block;
  min-width: 17px;
  height: 17px;
}

/* ================icon user================ */

.hidden {
  visibility: hidden;
}

.backgrSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff4df;
  margin-right: 12px;
  cursor: pointer;
}

.userSvg {
  display: block;
  width: 20px;
  height: 20px;
}
/* ================================ */
.burgerMenuSvg {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
}

.titleSpan {
  color: rgba(255, 255, 255, 0.4);
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.imgHome {
  border-radius: 30px;
  width: 335px;
  height: 402px;
  background: url('../../../public/images/imagesHome/image-home-mob-1x.jpg');
}

/* ======================burgerMenu======================= */

.closeButton {
  position: absolute;
  display: block;
  top: 28px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burgerMenu {
  position: fixed;
  top: 0;
  right: -218px;
  width: 218px;
  /* height: 792px;  error in layout*/
  height: 812px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.burgerMenu.open {
  right: 0;
}

.burgerMenuUl {
  list-style: none;
  padding: 230px 49px 0 50px;
  text-align: center;
  margin: 0;
  margin-bottom: 286px;
}

.liItem {
  margin-bottom: 10px;
}

.liItemLast {
  margin-bottom: 0;
}

.burgerNavHome,
.burgerNavHomeLast {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 31px;
}

.burgerNavHomeLast {
  padding: 15px 20px;
}

.burgerNavHome:hover,
.burgerNavHomeLast:hover {
  border: 1px solid#f6b83d;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  transition: color 0.3s ease-in-out;
}

/* ===========================AuthNav=============================  */

/* .authNavBurger {
  padding: 0 20px 40px;
  text-align: center;
}

.liItemLog {
  margin-bottom: 8px;
}

.burgerLiNavlog,
.burgerLiNav {
  border-radius: 30px;
  background: #fff4df;
  padding: 12px;
  width: 178px;
  height: 42px;

  cursor: pointer;
  color: #f6b83d;
}

.burgerLiNavlog:hover,
.burgerLiNav:hover {
  background: #f6b83d;
}

.linkAuth {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.burgerLiNavlog:hover .linkAuth,
.burgerLiNav:hover .linkAuth {
  color: #fff;
} */

/* ============================================= */
