.contNotices {
  padding: 50px 20px 88px;
}

.titleNotices {
  margin-bottom: 40px;
}

.contFilters {
  padding: 20px;
  border-radius: 30px;
  width: 335px;
  height: 378px;
  background: #fff4df;
  margin-bottom: 40px;
}

.searchPet {
  border-radius: 30px;
  width: 295px;
  height: 42px;
  background: #fff;
}

.inputPets {
  width: 295px;
  border: none;
}

.inputPets::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
}
