.contUserNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 20px 40px; */
}

.contUserPhoto {
  margin-bottom: 8px;
}

.customAvatar {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.customPhoto {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.customUserSvg {
  width: 20px;
  height: 20px;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .customAvatar {
    width: 50px;
    height: 50px;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
}
