.contNews {
  padding: 54px 20px 80px;
}

.titleNews {
  margin-bottom: 20px;
}

.contForm {
  margin-bottom: 24px;
}

.contSearch {
  position: relative;
  align-items: center;
  width: 335px;
  height: 42px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  background-color: transparent;
  padding: 12px;
  width: 335px;
  height: 42px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.input:focus {
  outline: none;
}

/* ================================reset browser settings==================================== */

.input:-webkit-autofill {
  background-color: white !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 0s;
}

.input:-webkit-autofill:focus {
  background-color: white !important;
}

/* ========================================================================================= */

.btnSearch {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 12px;
  right: 12px;
  padding: 0;
}

.iconSearch {
  display: block;
  width: 18px;
  height: 18px;
}
