.contAddPet {
  position: relative;
  display: flex;
  gap: 14px;
  border: 1px solid rgba(38, 38, 38, 0.1);
  border-radius: 20px;
  width: 295px;
  height: 132px;

  padding: 16px;
}

.deletePetBtn {
  position: absolute;
  display: block;
  top: 12px;
  right: 12px;
  background: #fff4df;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 7px;
}

.deletePetBtn:hover {
  background: #fbe7c1;
}

.trashSvg {
  display: block;
  width: 16px;
  height: 16px;
}

.petImg {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  object-fit: cover;
  /* margin-bottom: 24px; */
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #2b2b2a;
  margin-bottom: 8px;
}

.petInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.infoItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoryName {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(38, 38, 38, 0.5);
}

.categoryValue {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .contAddPet {
    width: 305px;
    height: 149px;
    padding: 22px 27px 23px 16px;
  }

  .deletePetBtn {
    width: 32px;
    height: 32px;
  }

  .trashSvg {
    width: 18px;
    height: 18px;
  }

  .petImg {
    width: 75px;
    height: 75px;
  }

  .title {
    margin-bottom: 12px;
  }


}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {}