.conteiner {
  position: relative;
  display: flex;
  width: 375px;
  margin: 0 auto;
}

.conteinerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 28px 20px 0 20px;
}

.homeHeader {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 10;
  padding: 28px 40px 0 40px;
}

.contLogoHome,
.contLogo {
  display: flex;
  align-items: end;
  width: 76px;
  cursor: pointer;
  /* margin-right: 175px; */
}

.contLogoHome {
  /* margin-right: 135px; */
}

.logoText {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: #262626;
}

.logoSvg {
  display: block;
  min-width: 17px;
  height: 17px;
}

/* ================icon user================ */

.contUserBrgMenu {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hidden {
  visibility: hidden;
}

.backgrSvg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff4df;
  cursor: pointer;
}

.customAvatar {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.customPhoto {
  width: 40px;
  height: 40px;
  margin-bottom: 0;
}

.customUserSvg {
  width: 20px;
  height: 20px;
}

/* ======================burgerMenu======================= */

.burgerMenuSvg {
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.closeButton {
  position: absolute;
  display: block;
  top: 28px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burgerMenu {
  position: fixed;
  top: 0;
  right: -218px;
  width: 218px;
  height: 100%;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 236px 20px 40px;
}

.burgerMenu.open {
  right: 0;
}

.burgerMenuUl {
  list-style: none;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.liItem {
  margin-bottom: 10px;
}

.liItemLast {
  margin-bottom: 0;
}

.burgerNav,
.burgerNavLast,
.burgerNavHome,
.burgerNavHomeLast {
  text-decoration: none;
  /* font-size: 18px;
  font-weight: 600; */
  cursor: pointer;
  transition: color 0.3s ease;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 15px 31px;
  width: 119px;
  height: 48px;
}

.burgerNavLast,
.burgerNavHomeLast {
  padding: 15px 20px;
}

.burgerNav,
.burgerNavLast {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.burgerNav:hover,
.burgerNavLast:hover {
  border: 1px solid #fff;
}

.burgerNavHome:hover,
.burgerNavHomeLast:hover {
  border: 1px solid#f6b83d;
}

.link,
.linkHome {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;
  transition: color 0.3s ease-in-out;
}

.link {
  color: #fff;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }

  .conteinerHeader {
    padding: 32px 32px 0 32px;
  }

  .homeHeader {
    padding: 32px 64px 0 64px;
  }

  .contLogoHome,
  .contLogo {
    width: 105px;
  }

  .logoText {
    font-size: 28px;
  }

  .logoSvg {
    width: 23px;
    height: 23px;
  }

  .contUserBrgMenu {
    gap: 16px;
  }

  .contUserIsRegisteredOrNot {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .userNameHome,
  .userName {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.03em;
  }

  .userNameHome {
    color: #fff;
  }

  .backgrSvg {
    width: 50px;
    height: 50px;
  }

  .customAvatar {
    width: 50px;
    height: 50px;
  }

  .customPhoto {
    width: 50px;
    height: 50px;
  }

  /* ======================burgerMenu======================= */

  .burgerMenuSvg {
    width: 36px;
    height: 36px;
  }

  .closeButton {
    top: 39px;
    right: 32px;
  }

  .burgerMenu {
    right: -374px;
    width: 374px;
    padding: 369px 49px 40px;
  }

  .burgerNav,
  .burgerNavLast,
  .burgerNavHome,
  .burgerNavHomeLast {
    width: 120px;
    height: 50px;
    padding: 15px 20px;
  }

  .link,
  .linkHome {
    font-size: 16px;
    line-height: 125%;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
  .conteiner {
    width: 1280px;
  }

  .conteinerHeader {
    padding: 32px 64px 0 64px;
  }

  .homeHeader {
    padding: 32px 96px 0 96px;
  }

  .logoText {
  }

  .contLogoMenu {
    display: flex;
    align-items: center;
  }

  .contMenuUlDesk,
  .contMenuUlDeskHome {
    display: flex;
    gap: 10px;
    margin-left: 280px;
  }

  .contMenuUlDesk {
    margin-left: 313px;
  }

  /* .liItemDesk {
  }

  .liItemLastDesk {
  } */

  .navNewsHomeDesk,
  .navNewsDesk,
  .navHomeDesk,
  .navDesk,
  .navHomeLastDesk,
  .navLastDesk {
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 1px solid rgba(38, 38, 38, 0.15);
    border-radius: 30px;
    padding: 15px 20px;
    width: 80px;
    height: 50px;
  }

  .navHomeDesk,
  .navDesk {
    width: 97px;
    height: 50px;
    padding: 15px 18px;
  }

  .navHomeLastDesk,
  .navLastDesk {
    width: 119px;
    height: 50px;
    padding: 15px 18px;
  }

  .navNewsHomeDesk,
  .navHomeDesk,
  .navHomeLastDesk {
    border: 1px solid rgba(255, 255, 255, 0.4);
  }

  .navNewsHomeDesk:hover,
  .navHomeDesk:hover,
  .navHomeLastDesk:hover {
    border: 1px solid #fff;
  }

  .navNewsDesk:hover,
  .navDesk:hover,
  .navLastDesk:hover {
    border: 1px solid#f6b83d;
  }

  .linkDesk,
  .linkHomeDesk {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #262626;
  }

  .linkHomeDesk {
    color: #fff;
  }
}
