.authNavBurger {
  text-align: center;
}

.liItemLog {
  margin-bottom: 8px;
}

.burgerLiNav,
.burgerLiNavlog,
.burgerLiNavHome,
.burgerLiNavlogHome {
  border-radius: 30px;
  background: #fff4df;
  padding: 12px;
  width: 178px;
  height: 42px;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.burgerLiNav:hover,
.burgerLiNavlog:hover {
  border: 1px solid #fff;
  background: #f6b83d;
}

.burgerLiNavHome:hover,
.burgerLiNavlogHome:hover {
  background: #f6b83d;
}

.linkAuth {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.burgerLiNavlog:hover .linkAuth,
.burgerLiNav:hover .linkAuth {
  color: #fff;
}

.burgerLiNavlogHome:hover .linkAuth,
.burgerLiNavHome:hover .linkAuth {
  color: #fff;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
  .authNavBurger {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .liItemLog {
    margin-bottom: 0;
  }

  .burgerLiNav,
  .burgerLiNavlog,
  .burgerLiNavHome,
  .burgerLiNavlogHome {
    padding: 17px 35px;
    width: 119px;
    height: 50px;
    font-size: 16px;
    line-height: 125%;
  }

  .burgerLiNav,
  .burgerLiNavHome {
    padding: 17px 20px;
    width: 149px;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
}
