.authNavBurger {
  padding: 0 20px 40px;
  text-align: center;
}

.liItemLog {
  margin-bottom: 8px;
}

.burgerLiNav,
.burgerLiNavlog,
.burgerLiNavHome,
.burgerLiNavlogHome {
  border-radius: 30px;
  background: #fff4df;
  padding: 12px;
  width: 178px;
  height: 42px;
  cursor: pointer;
  color: #f6b83d;
}

.burgerLiNav:hover,
.burgerLiNavlog:hover {
  border: 1px solid #fff;
  background: #f6b83d;
}

.burgerLiNavHome:hover,
.burgerLiNavlogHome:hover {
  background: #f6b83d;
}

.linkAuth {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
}

.burgerLiNavlog:hover .linkAuth,
.burgerLiNav:hover .linkAuth {
  color: #fff;
}

.burgerLiNavlogHome:hover .linkAuth,
.burgerLiNavHome:hover .linkAuth {
  color: #fff;
}
