.contLogin {
  width: 375px;
  padding: 20px;
  margin: 0 auto;
}

.contForm {
  border-radius: 30px;
  width: 335px;
  /* height: 422px; */
  padding: 60px 20px;
  background: #fff;
}

.title {
  margin-bottom: 12px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  margin-bottom: 24px;
}

.contLoginForm {
  margin-bottom: 12px;
}

.inputElem {
  position: relative;
  margin-bottom: 10px;
}

.textSuccess,
.textError {
  padding-left: 12px;
  padding-top: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;
}

.textSuccess {
  color: #08aa83;
}

.inputLastElem {
  position: relative;
  margin-bottom: 40px;
}

.input {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 0 12px 12px;
  width: 295px;
  height: 42px;
}

.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.input:focus {
  outline: none;
  background-color: inherit;
  border: 1px solid #f6b83d;
}

.inputError {
  border: 1px solid #ef2447;
}

.inputSuccess {
  border: 1px solid #08aa83;
}

.btnShapeConfPwd,
.btnShapePwd,
.btnShapeName,
.btnShapeEmail,
.btnRedEmail {
  display: block;
  position: absolute;
  top: 12px;
  right: 16px;
  border: none;
  background-color: inherit;
}

.btnRedEmail {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.btnShapeEmail,
.btnShapePwd {
  width: 18px;
  height: 18px;
}

.btnShapeConfPwd,
.btnShapePwd {
  right: 42px;
}

/* ================================reset browser settings==================================== */

.input:-webkit-autofill {
  background-color: white !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 0s;
}

.input:-webkit-autofill:focus {
  background-color: white !important;
}

/* ========================================================================================= */

.passwordWrapper {
  position: relative;
}

.passwordToggle {
  display: block;
  position: absolute;

  top: 12px;
  right: 12px;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.eyeSvg {
  width: 18px;
  height: 18px;
}

.btnLoginForm {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;
  border: none;
  border-radius: 30px;
  width: 295px;
  height: 42px;
  background: #fff4df;
  cursor: pointer;
}

.btnLoginForm:hover {
  color: #fff;
  background: #f6b83d;
}

.lastText {
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.lastTexSpan {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  cursor: pointer;
  color: #f6b83d;
}

/* =========================Tab============================= */

@media screen and (min-width: 768px) {
  .contLogin {
    width: 768px;
    padding: 32px;
  }

  .contForm {
    border-radius: 60px;
    width: 704px;
    padding: 71px 140px;
  }

  .title {
    font-size: 54px;
    letter-spacing: -0.04em;
    margin-bottom: 16px;
  }

  .text {
    font-size: 18px;
    line-height: 122%;
    margin-bottom: 32px;
  }

  .contLoginForm {
    margin-bottom: 16px;
  }

  .inputElem {
    margin-bottom: 16px;
  }

  .textSuccess,
  .textError {
    padding-left: 16px;
    padding-top: 4px;
    font-size: 12px;
    line-height: 117%;
  }

  .inputLastElem {
    margin-bottom: 64px;
  }

  .input {
    padding: 16px 0 16px 16px;
    width: 424px;
    height: 52px;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .btnShapeConfPwd,
  .btnShapePwd,
  .btnShapeName,
  .btnShapeEmail,
  .btnRedEmail {
    top: 15px;
  }

  .btnRedEmail {
    width: 22px;
    height: 22px;
  }

  .btnShapeEmail,
  .btnShapePwd {
    width: 22px;
    height: 22px;
  }

  .btnShapeConfPwd,
  .btnShapePwd {
    right: 48px;
  }

  .passwordToggle {
    top: 15px;
  }

  .eyeSvg {
    width: 22px;
    height: 22px;
  }

  .btnLoginForm {
    font-size: 16px;
    line-height: 125%;
    width: 424px;
    height: 52px;
  }

  .lastText {
    font-size: 14px;
    line-height: 143%;
  }
}

/* =========================Desk============================ */

@media screen and (min-width: 1280px) {
  .contLogin {
    width: 1280px;
    display: flex;
    gap: 32px;
    position: relative;
  }

  .imageRich {
    position: absolute;
    top: 468px;
    left: 93px;
    border-radius: 20px;
    width: 294px;
    height: 121px;
  }

  .contForm {
    width: 592px;
    padding: 118px 84px;
  }
}
