.loaderWrapper {
  max-width: 100%;
  position: relative;
  height: 100vh;
  min-width: 320px;
  max-height: 812px;
  margin: 0 auto;
  padding: 381px 92px 381px 93px;

  text-align: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  background-image: url(../../../public/images/main-image-mob-1x.jpg);
  /* z-index: 9999; */
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 273px;
  height: 273px;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {
}
