.contPet {
    /* padding: 24px; */
    border-radius: 16px;
    padding: 32px;
    width: 335px;
    height: 454px;
    background: #fff;
}

.petImg {
    border-radius: 16px;
    width: 287px;
    height: 178px;

}