.contAddPet {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 375px; */
  /* height: 812px; */
  padding: 16px 20px 20px;
}

.imgDogAddPet {
  width: 335px;
  height: 213px;
  border-radius: 30px;
  background: url('../../../public/images/add-my-pet/add-pet-mob-1x.jpg');
  background-size: cover;
  margin-bottom: 10px;
}

.contTitleForm {
  border-radius: 30px;
  width: 335px;
  height: 489px;
  padding: 28px 20px 20px;
  background: #fff;
}

.contTitleSubtitle {
  display: flex;
  align-items: self-end;
  /* align-items: baseline; */
  gap: 8px;
  margin-bottom: 24px;
}

.title {
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

/* =====================radio button sex===================== */

.contRadioBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.radioInput {
  display: none;
}

.radioContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background: #fff4df; */
  cursor: pointer;
}

.backGrFemale {
  background: rgba(244, 63, 94, 0.1);
}

.backGrMale {
  background: rgba(84, 173, 255, 0.1);
}

.backGrUnknown {
  background: #fff4df;
}

.svgFemale {
  display: block;
  width: 20px;
  height: 20px;
  stroke: #f43f5e;
}
.svgMale {
  display: block;
  width: 20px;
  height: 20px;
  stroke: #54adff;
}
.svgUnknown {
  display: block;
  width: 20px;
  height: 20px;
}

.radioInput:checked + .radioContent .svgFemale,
.radioInput:checked + .radioContent .svgMale {
  stroke: #fff;
}

.radioInput:checked + .backGrFemale {
  background: #f43f5e;
}

.radioInput:checked + .backGrMale {
  background: #54adff;
}

.radioInput:checked + .backGrUnknown {
  background: #f6b83d;
}

/* ===============================petPhoto================================ */

.petPhoto {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 10px;
  width: 68px;
  height: 68px;
  background: #fff4df;
  margin: 0 auto;
  margin-bottom: 16px;
}
.svgPaw {
  display: block;
  width: 34px;
  height: 34px;
}

/* ======================================================================= */

.contUrlAvatarPhoto {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.inputUrl {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 9px 20px 9px 10px;
  width: 170px;
  height: 36px;
}

.input,
.inputDate {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 0 12px 12px;
  width: 295px;
  height: 42px;
  margin-bottom: 10px;
}

.inputDate {
  width: 143px;
  margin-bottom: 0;
}

.btnUploadPhoto {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 0 10px 10px;
  width: 117px;
  height: 36px;
  background: #fff4df;
  border: none;
  cursor: pointer;
}

.btnUploadPhoto:hover {
  color: #fff;
  background: #f6b83d;
}

.uploadPhotoSpan {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
}

.uploadSvgPhoto {
  display: block;
  width: 16px;
  height: 16px;
}

.inputUrl::placeholder,
.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.inputUrl:focus,
.input:focus {
  outline: none;
  background-color: inherit;
  border: 1px solid #f6b83d;
}

/* .contType {
  overflow: auto;
} */

.contDateType {
  display: flex;
  gap: 8px;
  margin-bottom: 31px;
}

.typeField {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  width: 144px;
}

/* ================================reset browser settings==================================== */

.inputUrl:-webkit-autofill,
.input:-webkit-autofill {
  background-color: white !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 0s;
}

.inputUrl:-webkit-autofill:focus,
.input:-webkit-autofill:focus {
  background-color: white !important;
}

/* ========================================================================================= */
