.contAddPet {
  width: 375px;
  padding: 16px 20px 20px;
  margin: 0 auto;
}

.imgDogAddPet {
  height: 213px;
}

.contTitleForm {
  border-radius: 30px;
  width: 335px;
  padding: 28px 20px 20px;
  background: #fff;
}

.contTitleSubtitle {
  display: flex;
  align-items: self-end;
  gap: 8px;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: rgba(43, 43, 42, 0.4);
}

/* =====================radio button sex===================== */

.contRadioBtnsAndError {
  margin-bottom: 92px;
}

.errorMg {
  margin-bottom: 78px;
}

.contRadioBtn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.radioInput {
  display: none;
}

.radioContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.backGrFemale {
  background: rgba(244, 63, 94, 0.1);
}

.backGrMale {
  background: rgba(84, 173, 255, 0.1);
}

.backGrUnknown {
  background: #fff4df;
}

.svgFemale {
  display: block;
  width: 20px;
  height: 20px;
  stroke: #f43f5e;
}

.svgMale {
  display: block;
  width: 20px;
  height: 20px;
  stroke: #54adff;
}

.svgUnknown {
  display: block;
  width: 20px;
  height: 20px;
}

.radioInput:checked + .radioContent .svgFemale,
.radioInput:checked + .radioContent .svgMale {
  stroke: #fff;
}

.radioInput:checked + .backGrFemale {
  background: #f43f5e;
}

.radioInput:checked + .backGrMale {
  background: #54adff;
}

.radioInput:checked + .backGrUnknown {
  background: #f6b83d;
}

.textError {
  padding-left: 12px;
  padding-top: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: #ef2447;
}

/* ===============================petPhoto================================ */

.formContainer {
  position: relative;
}

.petPhoto {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  background: #fff4df;
}

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
  width: 68px;
  height: 68px;
}

.svgPaw {
  display: block;
  width: 34px;
  height: 34px;
}

/* ======================================================================= */

.contUrlAvatarPhoto {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.inputUrl {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 9px 20px 9px 10px;
  width: 170px;
  height: 36px;
}

.inputElem {
  margin-bottom: 10px;
}

.input,
.inputDate {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 12px 0 12px 12px;
  width: 295px;
  height: 42px;
}

/* ===================================Date==================================== */

.inputDate {
  width: 143px;
  margin-bottom: 0;
  padding-right: 12px;
  cursor: pointer;
  appearance: none;
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  background: transparent;
  color: transparent;
  position: relative;
  user-select: none;
}

.inputDate::before {
  content: '00.00.0000';
  color: rgba(38, 38, 38, 0.45);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
}

.inputDateAfter {
  width: 143px;
  height: 42px;
  padding: 0 12px;
  margin-bottom: 0;
  border-radius: 30px;
  border: 1px solid #f6b83d;
  cursor: pointer;
}

.inputDateElem {
  /* display: flex;
  align-items: center; */
  position: relative;
}

.customCalendarIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.textError {
  color: red;
  font-size: 10px;
  /* margin-top: 8px; */
}

/* =========================================================================== */

.btnUploadPhoto {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 30px;
  padding: 10px 0 10px 10px;
  width: 117px;
  height: 36px;
  background: #fff4df;
  border: none;
  cursor: pointer;

  outline: none;
}

.btnUploadPhoto:hover {
  color: #fff;
  background: #f6b83d;
  /* stroke: #fff; */
}

.uploadPhotoSpan {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.02em;
}

.uploadSvgPhoto {
  display: block;
  width: 16px;
  height: 16px;
}

.inputUrl::placeholder,
.input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.5);
}

.inputUrl:focus,
.input:focus,
.inputDate:focus {
  outline: none;
  background-color: inherit;
  border: 1px solid #f6b83d;
}

.contDateType {
  display: flex;
  gap: 8px;
  margin-bottom: 31px;
}

.typeField {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  width: 144px;
}

.fieldIsFilled {
  border: 1px solid #f6b83d;
}

.btnsBlock {
  display: flex;
  gap: 8px;
  padding-left: 87px;
}

.btnGoToProfile {
  display: block;
  border-radius: 30px;
  border: none;
  width: 100px;
  height: 42px;
  background: rgba(38, 38, 38, 0.05);

  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
}

.btnGoToProfile:hover {
  background: rgba(38, 38, 38, 0.1);
}

.btnSubmitPet {
  display: block;
  border-radius: 30px;

  border: none;
  width: 100px;
  height: 42px;
  background: #fff4df;
  color: #f6b83d;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
}

.btnSubmitPet:hover {
  color: #fff;
  background: #f6b83d;
}

/* ================================reset browser settings==================================== */

.inputUrl:-webkit-autofill,
.input:-webkit-autofill {
  background-color: white !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  transition: background-color 0s;
}

.inputUrl:-webkit-autofill:focus,
.input:-webkit-autofill:focus {
  background-color: white !important;
}

/* =========================Tab============================= */

@media screen and (min-width: 768px) {
  .contAddPet {
    width: 768px;
    padding: 32px;
  }

  .imgDogAddPet {
    height: 248px;
  }

  .contTitleForm {
    border-radius: 60px;
    width: 704px;
    padding: 40px 136px;
  }

  .contTitleSubtitle {
    margin-bottom: 40px;
  }

  .title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 125%;
    color: rgba(43, 43, 42, 0.4);
  }

  /* =========================radio button sex============================== */

  .contRadioBtnsAndError {
    margin-bottom: 76px;
  }

  .errorMg {
    margin-bottom: 58px;
  }

  .radioContent {
    width: 40px;
    height: 40px;
  }

  .svgFemale,
  .svgMale,
  .svgUnknown {
    width: 24px;
    height: 24px;
  }

  .textError {
    padding-left: 16px;
    padding-top: 4px;
    font-size: 12px;
    line-height: 117%;
  }

  /* ===============================petPhoto================================ */

  .petPhoto {
    top: 18px;
    width: 86px;
    height: 86px;
  }

  .avatarImage {
    width: 86px;
    height: 86px;
  }

  .svgPaw {
    width: 44px;
    height: 44px;
  }

  /* ======================================================================= */

  .contUrlAvatarPhoto {
    margin-bottom: 18px;
  }

  .inputUrl {
    padding: 12px;
    width: 278px;
    height: 42px;
  }

  .btnUploadPhoto {
    gap: 8px;
    padding: 12px 16px;
    width: 146px;
    height: 42px;
  }

  .uploadPhotoSpan {
    font-size: 14px;
    line-height: 129%;
  }

  .uploadSvgPhoto {
    width: 18px;
    height: 18px;
  }

  .inputUrl::placeholder {
    letter-spacing: -0.02em;
  }

  .input::placeholder {
    font-size: 16px;
    line-height: 125%;
  }

  .contDateType {
    gap: 12px;
    margin-bottom: 46px;
  }

  .typeField {
    width: 210px;
    height: 52px;
  }

  .inputElem {
    margin-bottom: 18px;
  }

  .input,
  .inputDate {
    padding: 16px;
    width: 432px;
    height: 52px;
  }

  .inputDate {
    width: 210px;
    padding-right: 14px;
    margin-bottom: 0;
  }

  .inputDateAfter {
    width: 210px;
    height: 52px;
    padding: 0 16px;
  }

  .btnsBlock {
    padding-left: 84px;
  }

  .btnGoToProfile {
    width: 170px;
    height: 48px;
    font-size: 16px;
    line-height: 125%;
  }

  .btnSubmitPet {
    width: 170px;
    height: 48px;

    font-size: 16px;
    line-height: 125%;
  }
}

/* =========================Desk============================ */

@media screen and (min-width: 1280px) {
  .contAddPet {
    width: 1280px;
    display: flex;
    gap: 32px;
    padding: 32px;
  }

  .imgDogAddPet {
    height: 654px;
  }

  .contTitleForm {
    width: 592px;
    padding: 60px 80px;
  }
}
