/* .conteiner {
  margin-top: 8px;
} */

.btnLogout,
.btnLogoutHome {
  border-radius: 30px;
  background: #fff4df;
  border: none;
  width: 178px;
  height: 42px;
  cursor: pointer;

  outline: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #f6b83d;

}

.btnLogout:hover {
  border: 1px solid #fff;
}

.btnLogout:hover,
.btnLogoutHome:hover {
  background: #f6b83d;
  color: #fff;
}

/* =================================Tab============================= */

@media screen and (min-width: 768px) {

  .btnLogout,
  .btnLogoutHome {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* =================================Desk============================= */

@media screen and (min-width: 1280px) {}